
{{!-- POST a JOB MODAL --}}

  <!-- Navagator with links -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand">Doppelganger</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </nav>
  {{!-- POST a JOB MODAL --}}
  <div id="home">
    <div class="modalOne " style="display: none">
      <div class="modalOneContent ">
        <div class="btn btn-primary closebtn">x</div>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <br></br>
            <label for="Title">Job Title</label>
            <input id="example-text" type="text" placeholder="Job Title">
          </div>
          <div class="form-group">
            <label for="example-description">Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Description"></textarea>
          </div>
          <label for="example-category">Category</label>
          <select class="form-control" id="example-category" aria-describedby="example-category" name="cars">
            <option value="Indoor Task">Indoor Task</option>
            <option value="Outdoor Task">Outdoor Task</option>
            <option value="Errand Run">Errand Run</option>
            <option value="Sell Item">Sell Item</option>
          </select>
        </div>
        <button id="submit" class="btn btn-success float-right">Submit</button>
      </form>
      <br></br>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{{!-- SEARCH for various JOBS by category --}}
{{!-- <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h2>Submit a Task!</h2>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Title</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Enter Title">
            </div>
            <div class="form-group">
              <label for="example-description">Description</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description"
                placeholder="Enter Description"></textarea>
            </div>
            <label for="example-category">Category</label>
            <select class="form-control" id="example-category" aria-describedby="example-category" name="cars">
              <option value="Indoor Task">Indoor Task</option>
              <option value="Outdoor Task">Outdoor Task</option>
              <option value="Errand Run">Errand Run</option>
              <option value="Sell Item">Sell Item</option>
            </select>
            <br></br>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form> --}}
<div class="w3-container">
  <div class="w3-display-container w3-green">
    <div class="w3-display-middle">
      <br>
      <button class="btn btn-success" id="add-task">Create New Task</button>
      <br><br>
      <h3>Search for...</h3>
      <br>
      <button class="btn btn-success" onclick="window.location.href='/home/outside'">Outdoors Tasks</button>
      <button class="btn btn-success" onclick="window.location.href='/home/inside'">Indoors Tasks</button>
      <button class="btn btn-success" onclick="window.location.href='/home/errand'">Errand Run</button>
      <button class="btn btn-success" onclick="window.location.href='/home/sale'">Sales</button>
      <br></br>

      <h3>Tasks:</h3>
      <ul id="example-list" class="list-group">

        {{#each tasks}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a class="tasktexter" href="tasks/{{this.id}}">{{this.text}}</a>
          <br>
          <a class="tasktexter" href="tasks/{{this.id}}">{{this.description}}</a>
          <br>
          <a class="tasktexter" href="tasks/{{this.id}}">{{this.category}}</a>
          <br>
          <a class="tasktexter" href="tasks/{{this.id}}">{{this.city}}</a>
          <br></br>
          <button id="{{this.id}}" class="accept btn btn-success">Accept</button>
          <button class="btn btn-danger float-right delete">Delete</button>
        </li>
        <br>
        {{/each}}
      </ul>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  </body>