<nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <a class="navbar-brand">Doppelganger</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="/logIn">Log Out</a>
                  </div>
                </div>
              </nav>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Job</h5>
          <p>
            <strong>ID</strong>: {{task.id}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{task.text}}</p>
          <p>
            <strong>Description:</strong> {{task.description}}</p>
          <p>
            <strong>Creator:</strong> {{task.creator}}</p>
          <p>
            <strong>Category:</strong> {{task.category}}</p>
          <p>
            <strong>Location:</strong> {{task.city}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
